parameters:
    bootstrapFiles:
        - phpstan.bootstrap.php

    fileExtensions:
        - php
        - php.dist
        - inc

    ignoreErrors:
        # TODO: These need to be fixed somehow
        - '#Access to an undefined property DateTime::\$_dateonly#'
        # All expressions below are about libkolabxml (which I don't have installed)
        - '#class (Address|Affiliation|Alarm|Attachment|Attendee|Duration|Contact|ContactReference|Configuration|Dictionary|Email|EmailReference|EventCal|DayPos|FileDriver|Key|NameComponents|SnippetCollection|RecurrenceRule|Related|Relation|EventCal|Snippet|Telephone|Url|vector.*|kolabformat|cDatetime|XMLObject|CustomProperty)#i'
        - '#invalid .*type vector#'
        - '#(cDateTime|EventCal)#'

    paths:
        - plugins

    level: 4

    scanDirectories:
        - program/include
        - program/actions

    treatPhpDocTypesAsCertain: false

    universalObjectCratesClasses:
        - Sabre\VObject\Component
        - Sabre\VObject\Component\VEvent
        - Sabre\VObject\Component\VTodo
