<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="libcalendaring"><directory suffix="Test.php">plugins/libcalendaring/tests</directory></testsuite>
        <testsuite name="libkolab"><directory suffix="Test.php">plugins/libkolab/tests</directory></testsuite>
    </testsuites>
</phpunit>
